* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
}

body {
  background: #ecece3;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background: rgb(255, 102, 0);
  z-index: 100;
}

section.content {
  padding: 10px;
}

/* HomeLink */
.home-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
}

.home-link:hover {
  background: rgb(222, 90, 2);
}

.home-link:active {
  background: rgb(195, 78, 0);
}

.home-link-logo {
  border: thin solid white;
}

.home-link-brand {
  margin: 0 10px;
}

/* ReloadButton */
.reload-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: white;
  border: none;
  height: 36px;
  width: 36px;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.reload-button:hover {
  background: rgb(222, 90, 2);
}

.reload-button:active {
  background: rgb(195, 78, 0);
}

.reload-icon {
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.reload-icon-loading {
  animation: spin 2s linear infinite;
  animation-delay: 0.5s;
}

/* Stories */
.stories-container {
  margin: 0 auto;
  width: 90vw;
  box-sizing: border-box;
  max-width: 800px;
}

.stories-list {
  display: grid;
  grid-gap: 0.4em;
  padding: 0;
  margin: 0;
}

/* StoryLayout */
.story-card {
  position: relative;
  line-height: 24px;
  list-style-type: none;
  background: white;
  padding: 1.4em;
  border-radius: 4px;
  overflow: hidden;
}

.story-title {
  display: block;
  font-size: 1.4em;
  line-height: 1.4em;
  color: black;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0.4em;
}

/* StoryLink */
.story-link {
  color: black;
  text-decoration: none;
}

.story-link:visited {
  color: grey;
}

/* StoryByline */
.story-byline {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  color: grey;
}

/* LinkButton */
.link-button {
  color: grey;
  text-decoration: none;
}

.link-button:hover,
.link-button:active {
  color: black;
}

/* LoadMore */
.load-more-container {
  margin-top: 20px;
  text-align: center;
}

.load-more-button {
  border: none;
  background: none;
  color: #666;
  outline: none;
}

.load-more-button:focus-visible {
  outline: blue auto 1px;
}

.load-more-button:hover {
  color: black;
  cursor: pointer;
}

/* Details */
.details {
  padding-top: 20px;
  padding-left: 15px;
}

/* Comments */
.comments-list {
  padding: 0;
  margin: 0;
}

/* Comment */
.comment {
  list-style-type: none;
  font-size: smaller;
}

.comment p,
.comment pre {
  margin: 0.5em 0;
}

.comment pre {
  font-size: larger;
}

.comment + .comment {
  margin-top: 15px;
  border-top: thin solid #ccc;
  padding-top: 15px;
}

.comment-byline {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  color: grey;
  margin-top: 5px;
}

/* CommentAndAnswers */
.comment-and-answers-container {
  margin: 0 auto;
  width: 90vw;
  box-sizing: border-box;
  max-width: 800px;
}

.comment-and-answers-item {
  background: white;
  padding: 20px;
  border-radius: 4px;
}

.comment-and-answers-answers {
  padding-top: 25px;
  padding-left: 15px;
}

/* BackButton */
.back-button {
  position: fixed;
  top: 50px;
  right: 20px;
  border: none;
  font-size: 30px;
  color: #9a9a86;
  cursor: pointer;
  outline: none;
  background: none;
}

.back-button:hover {
  color: black;
}

/* Skeleton */
.skeleton {
  display: inline-block;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 0.6em;
  overflow: hidden;
  line-height: 0.6;
  background-color: rgba(47, 57, 65, 0.1);
}

/* Mobile styles */
@media only screen and (width <= 1000px) {
  html {
    font-size: 10px;
  }

  .home-link-logo {
    height: 1em;
    width: 1em;
  }

  .reload-button {
    visibility: hidden;
  }

  .reload-icon {
    height: 3em;
    width: 3em;
  }

  .stories-container {
    width: 95vw;
    max-width: inherit;
  }

  .stories-list {
    grid-gap: 0.8em;
  }

  .story-title {
    font-size: 1.6em;
    line-height: 1.2em;
    margin-bottom: 0.8em;
  }

  .story-byline {
    font-size: larger;
  }

  .load-more-container {
    margin-top: 40px;
  }

  .load-more-button {
    font-size: xx-large;
  }

  .comment-and-answers-container {
    width: 95vw;
    max-width: inherit;
  }

  .back-button {
    visibility: hidden;
  }
}
